# Node modules
node_modules/

# Environment variables
.env
.env.example

# Build output
dist/
build/

# SQLite databases
*.sqlite
*sqlite*

# Testing and logs
coverage/
logs/

# Archives
package.zip

# Compiled frontend assets
ecr-system/public/
