# Node modules
node_modules/

# Environment variables
.env
.env.example

# Build output
dist/
build/


# SQLite databases
*.sqlite
*sqlite*

# Build and Testing
build/
coverage/
logs/

# Archives
package.zip

# Compiled frontend assets
ecr-system/public/assets/
ecr-system/public/index.html
ecr-system/public/assets/*
